@model Advertisement

<div class="col-lg-6 m-auto">
    <div class="card shadow p-3 mb-4">
        <form method="post">
            <div class="form-group">
                <label for="advertisement">Are you sure?</label>

            </div>
            <div class="form-group">
                <input class="btn btn-outline-success btn-sm" type="submit" value="delete" />
            </div>
        </form>
    </div>
</div>